{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
        <title>Aplicaciones de Internet</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' type="text/css" />
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <img src="{% static 'images/userena.svg' %}" class="rounded" style="width:200px"/>
            <h1>Aplicaciones de Internet</h1>
            <h3>APIRestFul TheMovieDB</h3>
            <div id="contenedor">
                <table class="table table-striped" id="table-data">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Descripción</th>
                            <th>Portada</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movie in movies %}
                        <tr>
                        <td>{{ movie.title}} </td>
                        <td>{{ movie.overview}} </td>
                        <td><img src="https://image.tmdb.org/t/p/w185{{ movie.poster_path }}" alt="{{ movie.title }}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>